<div id="login">
  <div class="row">
    <div class="col-8 offset-md-2">
        <h1>Willkommen bei meinem Privatleben</h1>
    </div>
    <div class="col-4 offset-md-4">
      
      <form [formGroup]="loginForm" (submit)="login()" >
        <div class="form-group">
          <label for="username">Benutzername</label>
          <input formControlName="username" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Benutzername">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Passwort</label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Passwort">
        </div>
        <button type="submit" class="btn btn-primary">Anmelden</button>
      </form>

      <div class="native_warning" *ngIf="wrong_password">
        <div class="alert alert-danger" role="alert">
          <strong>Oh nein!</strong> Falscher Benutzername oder falsches Passwort
        </div>
      </div>

       
    </div>
  </div>
</div>