<div class="row" *ngFor="let movie of this.Movies">
  <div class="col-md-6">
    <h2>Name: {{movie.Title}}</h2>
    <h4>Year: {{movie.Year}}</h4>
    <span>Release date: {{movie.Released}}</span>
    <div>
      Actors: {{movie.Actors}}
    </div>
    <span>IMDB Rating: {{movie.imdbRating}}</span>
  </div>
  <div class="col-md-6">
    <img src="{{movie.Poster}}" alt="">
  </div>
</div>