<div class="container">


  <div *ngIf="!inbox">
    <div *ngFor="let user of users" class="users">
      <a routerLink="/messages/{{user.user_username}}">{{user.user_name}}</a>
    </div>
  </div>

  <input type="text" (keyup)="sendMessage($event)">
  <a routerLink="/messages" *ngIf="inbox">Go back</a>
</div>