<div class="row">
  <div class="col-3">
    <a routerLink="image">
      <div class="column">
        <i class="fab fa-itunes-note" style="color: blue"></i>
      </div>
    </a>
  </div>
  <div class="col-3">
    <a routerLink="notes">
      <div class="column">
        <i class="fas fa-file" style="color: green"></i>
      </div>
    </a>
  </div>
  <div class="col-3">
    <a routerLink="messages">
      <div class="column">
          <i class="fas fa-comment" style="color: yellow"></i>
      </div>
    </a>
  </div>
  <div class="col-3">
    <div class="column" (click)="logout()">
      <i class="fas fa-power-off" style="color: red;"></i>
    </div>
  </div>
</div>

<!-- <button (click)="sendMessage()">Send</button> -->