.column {
  border: 1px solid #e3e3e3;
  height: 300px;
  box-shadow: 0 0 10px #e3e3e3;
  transition: 150ms all linear;
  cursor: pointer;
  text-align: center;
  padding-top: 55px;
  border-radius: 5px;
}
.column:hover{
  box-shadow: 0 0 40px #e3e3e3;
}
.column i {
  font-size: 150px
}