<button (click)="create()">Create</button>  
<div class="row wrap">

  <div class="col-md-12 note animated fadeInUp" *ngFor="let note of notes">

    <div class="header">
      <h1>{{note.note_header}}</h1>
    </div>
    <div class="close" (click)="remove(note.note_id)">
      x
    </div>
    <div class="body">
      <p>{{note.note_text}}</p>
    </div>
  </div>
  
</div>